[Unit]
Description=miblepy service
After=network.target bluetooth.target

[Service]
Restart=on-failure
Type=simple
ExecStart=/usr/local/bin/mible fetch
PrivateDevices=true
PrivateMounts=true
PrivateTmp=true
